h1{
    color: rgb(160, 84, 84);
}
.heading1{
    color: aqua;
    font-size: 40px;
    /* background-color: blueviolet; */
/* background-image: url("images/background.jpg"); */
/* background-repeat: no-repeat; */
/* background-size: cover; */
border-top: 2px dotted aqua;
border-bottom: 5px solid pink ;
}
p{
    border: 2px solid purple;
    padding-left: 40% ;
    padding-top: 30%;
    margin-top: 80px;
}

